@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Montserrat:wght@300;900&display=swap');

p,
span,
label,
legend {
  font-family: 'Fira Code';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 900;
}